<h2 mat-dialog-title>{{ data.customTitle || 'Confirmer l’ajout au tronc' }}</h2>

<div mat-dialog-content class="dialog-content">
  <p *ngIf="data.customMessage; else defaultMsg" [innerHTML]="data.customMessage"></p>
  <ng-template #defaultMsg>
    <p>
      {{ data.selectedCount }} élément{{ data.selectedCount > 1 ? 's' : '' }} vont être ajouté{{ data.selectedCount > 1 ? 's' : '' }}
      au tronc « {{ data.trunkName }} »
      <span *ngIf="data.trunkType">({{ data.trunkType }})</span>
      de niveau {{ data.level }}
      <span *ngIf="data.levelLabel">(<em>{{ data.levelLabel }}</em>)</span>.
    </p>
  </ng-template>
</div>

<div mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button type="button" (click)="onCancel()">Annuler</button>
  <button mat-raised-button type="button" color="primary" class="orange-action" (click)="onConfirm()">Valider</button>
</div>
