/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
html, body { scrollbar-width: none; -ms-overflow-style: none; }
html::-webkit-scrollbar, body::-webkit-scrollbar { width: 0; height: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Import des styles partagés pour les boutons
@import './app/shared/styles/buttons.scss';

/* Styles globaux pour la popup d’assortiment */
.assortiment-dialog-panel .mat-mdc-dialog-surface { border-radius: 8px; }
.assortiment-dialog-panel .mat-mdc-dialog-title { padding: 16px 24px 0; }
.assortiment-dialog-panel .mat-mdc-dialog-content { padding: 0 24px 8px; }
.assortiment-dialog-panel .mat-mdc-dialog-actions { padding: 0 24px 24px; }
